:root {
    --yellow: #ffc600;
    --black: #272727;
  }

  body {
    background: rgb(249, 61, 102);
    background: linear-gradient(
      120deg,
      rgba(249, 61, 102, 1) 0%,
      rgba(109, 71, 217, 1) 100%
    );
    background-attachment: fixed;
    color: rgb(255, 214, 181);
  }
  .playing {
    color: aliceblue;
    background-color: rgb(186, 255, 117);
    transform: scale(1.5);
    border-color: rgb(255, 232, 27);
    box-shadow: 0, 0, 10px;

    background: rgba(255, 240, 222, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(255, 240, 222, 0.14);
  }
  button {
    color: aliceblue;
    background: rgba(237, 224, 209, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(237, 224, 209, 0.14);
    height: 50px;
    width: 100px;
    transition: all 0.06s;
    margin: 5px
  }
  
  .modal-bg {
    color: aliceblue;
    background: rgba(237, 224, 209, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);

    transition: all 0.06s;
  }
  